/* Backgrouds */ 

body{
    background-image: url(../images/Trivia_logo2.JPG);
    text-align: center;
    
}
.jumbotron {
    background-color: transparent;
    color: rgb(246, 250, 3);
    padding: 20px;

}